@import "tailwindcss";

@layer utilities
{
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slideInFromTop;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1); /* exponential ease-out */
    }

    .slide-in-from-bottom {
        animation-name: slideInFromBottom;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1); 
    }

    .duration-300 {
        animation-duration: 300ms;
    }

    .duration-1000 {
        animation-duration: 1000ms;
    }

    .duration-2000
    {
        animation-duration: 2000ms;
    }

    .delay-100
    {
        animation-delay: 100ms;
    }
    .delay-200
    {
        animation-delay: 200ms;
    }
    .delay-400
    {
        animation-delay: 400ms;
    }
    .delay-600
    {
        animation-delay: 600ms;
    }
}

@keyframes slideInFromBottom
{
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(-1rem);
    }
}

@keyframes slideInFromTop
{
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}